.answer-container {
    display: flex;
    width: 100%;
    margin-top: 2%;
}
.answer-body {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.75px;
    color: #3E3C39;
    border: 1px solid;
    border-color: rgb(174, 173, 170);
    border-left: 0;
    border-right: 0;
    border-top: 0;
    padding: 8px 16px;
}
.answer-body-accepted {
    padding: 4px 16px;
    border-width: 0px 4px;
    border-style: solid;
    border-color: #7CCCED;
    border-radius: 10px;
}
.space {
    margin-bottom: 1%;
}
.answer-allcomments{
    margin-left: 7%;
}