.all-questions-page {
    width: 100%;
}
.aqp-top {
    text-align: center;
}
.aqp-bottom {
    display: flex;
}
.aqp-bottom-content-top {
    display: flex;
}
.aqp-bottom-content {
    width: 71.5%;
}
.aqp-bct2 {
    margin-top: 3%;
    margin-left: auto;
    margin-right: 0;
}
.aqp-bottom-content-mid {
    display: block;
    text-align: right;
    margin-top: 4%;
    margin-bottom: 3%;
}
.aqp-title {
    margin-left: 20%;
    margin-top: 15%;
    width: 100%;

    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 47px;
    
    color: #3E3C39;
}
.aqp-questions-list {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25.94px;
}