@font-face {
    font-family: 'suisseINTL';
    src: url(./../fonts/SuisseIntlCond-Regular-WebS.ttf);
}

@font-face {
    font-family: 'suisseREG';
    src: url(./../fonts/SuisseSign-Regular-WebS.ttf);
}

*{
    margin: 0;
    font-family: 'suisseREG';
}