.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  background: rgb(124, 204, 237);
}

.nav_container {
  width: 100%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-logo-image {
  height: 30px;
  margin-top: 3%;
  margin-right: 3%;
}
.nav_logo {
  display: flex;
}
.nav_brand, .nav_brand:hover {
  font-family: 'suisseINTL';
  text-decoration: none;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 41px;
}
.nav_link, .nav_link:hover {
  font-family: 'suisseINTL';
  color: white;
  text-decoration: none;
  list-style: none;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 31px;
}
.nav_container_right {
  display: flex;
  width: auto;
  margin-left: 2%;
}
.nav_item {
  margin-left: 5%;
  margin-top: 4%;
}
.nav-avatar-image {
  width: 40px;
  border-radius: 50%;
}