.usb_container{
    width: 30%;
    margin-left: 4%;
    border-radius: 52px;
    border:none;
    border:1px #1690C3 solid;
    height: 40px;
    display: flex;
}
.usb_container img {
    height: 16px;
    margin-top: 4%;
    margin-left: 3%;
}
.usb_container > input{
    width: 95%;
    height: 100%;
    display: flex;
    border-radius: 52px;
    margin-left: 2%;
    border: none;
    outline: none;

}
