.sidebar {
    height: auto;
    width: 19%;
    border-right: solid;
    border-width: 1px;
    border-color: rgb(174, 173, 170);
}
.sidebar-list {
    height: 1000px;
    width: auto;
    margin-left: 38%;
    margin-top: 10%;
}
.sidebar-bt {
    margin-bottom: 4%;
}