.top-bottom-content {
    display: flex;
    margin-left: 3%;
    margin-top: 3%;
}
.avatar-image{
    border-radius: 50%;
    width: 140px;
}
.tbc-image {
    margin-right: 2%;
}
.tbc-title1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    color: #3E3C39;
}
.tbc-detail {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #3E3C39;
}
.tbc-detail2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #3E3C39;
    margin-top: 2%;
    margin-bottom: 2%;
}
.bottom-bottom-content {
    margin-top: 3%;
    margin-left: 3%;
    display: flex;
}
.tbc-right {
    display: grid;
    margin-top: 2%;
    margin-bottom: 2%;
}
.right-bottom-content {
    margin-left: 1%;
    width: 100%;
    height: auto;
}
.tbc-box1, .tbc-box2{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #AEADAA;
    border-radius: 8px;
}
.tbc-box1{
    margin-top: 4%;
}
.tbc-box1-content {
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 5%;
}
.right-bottom-content {
    display: grid;
    row-gap: 5%;
}
.flex-box{
    display: flex;
}
.sa-button {
    height: 28px;
    margin-right: none;
    margin-left: auto;
}
.tbc-filters {
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
}

.all-pubs-btn {
    padding: 1%;
    display: flex;
    justify-content: center;
}