.qp-top {
    text-align: center;
}
.qp-bottom {
    display: flex;
    width: 100%;
}
.qp-bottom-content{
    width: 70%;
    margin-left: 2%;
}
.qp-bottom-content-top {
    display: flex;
    margin-top: 3%;
}
.qp-bct2 {
    margin-left: auto;
    margin-right: 0;
    
}
.qp-bottom-content-mid {
    margin-left: 54.7%;
    margin-right: auto;
    margin-top: 4%;
    margin-bottom: 3%;
}
.qp-title {
    width: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 47px;
    
    color: #3E3C39;
}
.qp-questions-list {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25.94px;
}
.qp-body {
    display: flex;
    margin-top: 2%;
}
.qp-body-right {
    margin-left: 2%;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.75px;
    color: #3E3C39;
}
.qp-vote {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 600;
    line-height: 46.69px;
    color: #AEADAA;
}
.qp-user {
    width: 17%;
    display: flex;
    margin-right: 0;
    margin-left: auto;
}
.qp-userpic {
    width: 30%;
    height: 30%;
    border-radius: 50%;
}
.qp-username, .qp-username:hover {
    margin-right: 0;
    margin-left: auto;
    color: #1690C3;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    text-decoration: none;
}
.qp-answers-count {
    margin-left: 2%;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    color: #3E3C39;
}
.answers-list {
    margin-left: 2%;
}
.qp-mna {
    margin-left: 2%;
}